.footer {
  scroll-snap-align: end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px;
  background: #e4e8eb;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
