@tailwind base;
@tailwind components;
@tailwind utilities;

.caption {
  @apply mb-4 border-b-2 border-b-green-600 text-xl font-bold;
}
.container {
  @apply m-1  ml-10 flex-wrap border p-3 shadow;
  text-wrap: normal;
  overflow-wrap: break-word;
  width: 400px;
  gap: 20px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --cbuy-red: #9b061b;
  --cbuy-gray-1: #8e98a5;
  --cbuy-gray-light: #c0c5cd;

  --cbuy-white: #ffffff;
  --cbuy-blue: #1e314b;
  $button-background: red;
}
/*

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
