.container {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}
.button {
  @apply flex-wrap break-words;
  @apply sm:max-xl:pb-[0px]  sm:max-xl:pl-[61.841px]  sm:max-xl:pr-[61.499px] sm:max-xl:pt-[0px];

  display: flex;
  z-index: 1;
  height: 100%;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
  border-radius: 21px;
  width: 100%;
  border: none !important;

  @screen sm {
    padding: 0px 61.499px 0px 61.841px;
  }
  &.children {
    @apply h-full flex-col;
  }

  &.primary {
    background: linear-gradient(0deg, #790000 0%, #bb263b 100%);
  }

  &.secondary {
    background: none !important;
    display: flex;
    height: 84px;
    padding: 20.16px 8px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;

    &:active {
      background: rgb(231, 213, 213);
    }

    &:focus {
      margin-top: -10px;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background: #fff;
      box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.53);
      padding: 16px 24px 8px 24px;
      height: fit-content;
    }
  }

  &.tertiary {
    display: flex;
    color: #1e314b;
    padding: 17.66px 26px 17.64px 26px;
    align-items: center;
    border-radius: 28px;
    background: linear-gradient(0deg, #bac0c7 0%, #dce2e7 100%);
  }
}

.custom_1 {
  display: flex;
  height: 62px;
  padding: 20px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid #97242a;
  background: #1e314b;
}
.custom_2 {
  display: flex;
  padding: 20px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid #97242a;
  background: #fff;
}
