.modal_overlay {
  @apply fixed inset-0 flex h-full w-full items-center justify-center bg-black bg-opacity-0;
  @apply md:fixed md:bg-opacity-50;
}
.modal_container {
  @apply absolute top-0 mt-[145px] flex h-[full] max-w-[350px] flex-col items-center justify-center overflow-y-auto bg-white shadow-lg;
  @apply md:mt-[80px] md:max-w-[376px];
  @apply lg:top-[20%] lg:mt-[65px] lg:max-w-[495px];

  z-index: 3;

  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  box-shadow: 10px 11px 24px 0px rgba(5, 17, 34, 0.6);
}
